*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #403A3E;

    ul {
        list-style-type: none;
        display: flex;
        color: #eea849;
        flex-flow: column nowrap;

        @media screen and (min-width: 630px) {
            flex-flow: row wrap;
        }

        li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            width: 12rem;
            height: 12rem;
            margin: 2rem 0;
            border: 1px solid #eea849;
            border-radius: 50%;
            transition: all 0.5s;

            @media screen and (min-width: 630px) {
                margin: 0 2rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #eea849;
                border-radius: 50%;
                z-index: -1;
                transition: all 0.5s;
                opacity: 0;
            }

            &:hover::before {
                opacity: 1;
                transform: scale(0.8);
            }
            
            &:hover {
                color: #fff;
                transform: scale(1.2);
            }
      
        }
    }
}